<div class="columns">
  <div class="column col-1">
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Save'"
      [sTooltipDirection]="'bottom'"
      (click)="onSaveClick()"
    >
      <img src="../../../../../assets/icons/save.png" />
    </button>
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Load'"
      [sTooltipDirection]="'bottom'"
      (click)="onLoadClick()"
    >
      <img src="../../../../../assets/icons/load.png" />
    </button>
  </div>
  <s-divider [vertical]="true"></s-divider>
  <div class="column col-1">
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Clear'"
      [sTooltipDirection]="'bottom'"
      (click)="onClearClick()"
    >
      <img src="../../../../../assets/icons/clean.png" />
    </button>
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Delete'"
      [sTooltipDirection]="'bottom'"
      [disabled]="!hasSelectedObject()"
      (click)="onRemoveClick()"
    >
      <img src="../../../../../assets/icons/delete.png" />
    </button>
  </div>
  <div class="column col-1">
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Send to back'"
      [sTooltipDirection]="'bottom'"
      [disabled]="!hasSelectedObject()"
      (click)="onSendToBackClick()"
    >
      <img src="../../../../../assets/icons/send-to-back.png" />
    </button>
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Bring to front'"
      [sTooltipDirection]="'bottom'"
      [disabled]="!hasSelectedObject()"
      (click)="onBringToFrontClick()"
    >
      <img src="../../../../../assets/icons/bring-to-front.png" />
    </button>
  </div>
  <div class="column col-1">
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Clone'"
      [sTooltipDirection]="'bottom'"
      [disabled]="!hasSelectedObject()"
      (click)="onCloneClick()"
    >
      <img src="../../../../../assets/icons/clone.png" />
    </button>
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Clear selection'"
      [sTooltipDirection]="'bottom'"
      [disabled]="!hasSelectedObject()"
      (click)="onCleanSelectClick()"
    >
      <img src="../../../../../assets/icons/unselect.png" />
    </button>
  </div>
  <s-divider [vertical]="true"></s-divider>
  <div class="column col-1">
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Undo'"
      [sTooltipDirection]="'bottom'"
      [disabled]="!canUndo"
      (click)="onUndoClick()"
    >
      <img src="../../../../../assets/icons/undo.png" />
    </button>
    <button
      class="btn btn-link column col-6"
      [sTooltip]="'Redo'"
      [sTooltipDirection]="'bottom'"
      [disabled]="!canRedo"
      (click)="onRedoClick()"
    >
      <img src="../../../../../assets/icons/redo.png" />
    </button>
  </div>
</div>
