<header class="page-title">
  <h1 class="s-title">Editing : {{ location.name }}</h1>
  <s-dropdown class="export-menu" [right]="true">
    <s-dropdown-button [displayArrow]="false"
      ><i class="icon icon-more-vert"></i
    ></s-dropdown-button>
    <s-menu>
      <s-menu-item>
        <a (click)="onExport()">Export to image</a>
      </s-menu-item>
      <s-menu-item>
        <a (click)="onExportSVG()">Export to SVG</a>
      </s-menu-item>
    </s-menu>
  </s-dropdown>
  <div class="divider"></div>
</header>
<div class="container">
  <div class="columns">
    <s-tabs class="column col-12">
      <s-tab-item>
        <s-tab-item-header>
          Design
        </s-tab-item-header>
        <s-tab-item-body>
          <!-- Header -->
          <app-canvas-header
            [selectedObject]="selectedObject"
            [canUndo]="canUndo"
            [canRedo]="canRedo"
            (onSave)="onSave()"
            (onLoad)="onLoad()"
            (onClear)="onClear()"
            (onRemove)="onRemove()"
            (onSendToBack)="onSendToBack()"
            (onBringToFront)="onBringToFront()"
            (onClone)="onClone()"
            (onCleanSelect)="onCleanSelect()"
            (onUndo)="onUndo()"
            (onRedo)="onRedo()"
          ></app-canvas-header>
          <div class="columns">
            <section class="colmun col-1">
              <section class="col-12">
                <s-divider></s-divider>
              </section>
              <app-canvas-draw-menu
                class="col-12"
                [drawing]="drawing"
                (onDrawingChange)="onDrawingChange($event)"
                (onAddFigureClick)="onAddFigure($event)"
                (onAddTextClick)="onAddText()"
                (onAddMarkerClick)="onAddMarker()"
              ></app-canvas-draw-menu>
            </section>
            <section>
              <s-divider [vertical]="true"></s-divider>
            </section>
            <section
              class="col-8 column editor-container"
              cdkDropList
              #canvasContainer="cdkDropList"
              [cdkDropListData]="canvasItems"
              (cdkDropListDropped)="onDrop($event)"
            >
              <jdr-fabricjs-editor
                class="editor"
                #canvas
                (onSelectObject)="onSelectObject($event)"
                (onSelectedObjectUpdated)="onSelectedObjectUpdated($event)"
                (onCanUndoChange)="onCanUndoChange($event)"
                (onCanRedoChange)="onCanRedoChange($event)"
                [drawing]="drawing"
                [brush]="brush"
              ></jdr-fabricjs-editor>
            </section>
            <section>
              <s-divider [vertical]="true"></s-divider>
            </section>
            <app-canvas-advanced-menu
              class="col-2 column"
              [canvasContainer]="canvasContainer"
              [selectedObject]="selectedObject"
              [drawing]="drawing"
              [brush]="brush"
              (onBrushColorChange)="onBrushColorChange($event)"
              (onBrushWidthChange)="onBrushWidthChange($event)"
              (onBrushShadowColorChange)="onBrushShadowColorChange($event)"
              (onBrushShadowWidthChange)="onBrushShadowWidthChange($event)"
              (onBrushTextureChange)="onBrushTextureChange($event)"
              (onOpacityChange)="onOpacityChange($event)"
              (onFillChange)="onFillChange($event)"
              (onUrlChange)="onUrlChange($event)"
              (onBoldChange)="onBoldChange($event)"
              (onCharSpacingChange)="onCharSpacingChange($event)"
              (onFontFamilyChange)="onFontFamilyChange($event)"
              (onFontSizeChange)="onFontSizeChange($event)"
              (onItalicChange)="onItalicChange($event)"
              (onLineHeightChange)="onLineHeightChange($event)"
              (onTextAlignChange)="onTextAlignChange($event)"
              (onUnderlineChange)="onUnderlineChange($event)"
              (onLineThroughChange)="onLineThroughChange($event)"
              (onLocationSelected)="onLocationSelected($event)"
              (onPoiOptionsChanged)="onPoiOptionsChanged($event)"
              (onLocationClick)="onLocationClick($event)"
            ></app-canvas-advanced-menu>
          </div>
        </s-tab-item-body>
      </s-tab-item>
      <!-- Advanced -->
      <s-tab-item>
        <s-tab-item-header>
          Advanced
        </s-tab-item-header>
        <s-tab-item-body>
          <div class="columns">
            <!-- Background -->
            <section class="column col-12">
              <h4>Background</h4>
              <section class="column col-3">
                <label class="form-label" for="backgroundColor"
                  >Background color</label
                >
                <input
                  class="col-12"
                  name="backgroundColor"
                  type="text"
                  [cpPosition]="'bottom'"
                  [(colorPicker)]="backgroundColor"
                  [style.background]="backgroundColor"
                  [value]="backgroundColor"
                  (colorPickerChange)="onBackgroundColorChange()"
                />
                <label class="form-label" for="backgroundImage"
                  >Background image</label
                >
                <input
                  class="col-12"
                  name="backgroundImage"
                  type="text"
                  placeholder="http://example.jpg"
                  [(ngModel)]="backgroundImagePath"
                  (keyup)="onBackgroundImageChange()"
                />
              </section>
            </section>

            <!-- Debug -->
            <section class="column col-12">
              <h4>Debug</h4>
              <section class="column col-3">
                <button
                  name="renderToJson"
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="onExportJSON()"
                >
                  Render to json
                </button>
                <pre>{{ exportedJson }}</pre>
              </section>
            </section>
          </div>
        </s-tab-item-body>
      </s-tab-item>
    </s-tabs>
  </div>
</div>
