.tool-menu {
  button {
    height: 38px;

    img {
      width: auto;
      height: 100%;
    }
  }
}

.export-menu {
  float: right;
}

.editor {
  margin-top: 12px;
  width: 100%;
  height: 100%;
}

.activate-badge {
  display: inline-block;
  position: absolute;
  right: 0;
}

.editor-container {
  padding-bottom: 12px;
}

.add-file-button {
  float: right;
}

.images-container img {
  transition: box-shadow 0.25s ease-in-out;
  cursor: move;
}

.images-container img:hover {
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
}
