<header class="page-title">
  <h1 class="s-title">Editing : {{ location.name }}</h1>
  <s-dropdown class="export-menu" [right]="true">
    <s-dropdown-button [displayArrow]="false"
      ><i class="icon icon-more-vert"></i
    ></s-dropdown-button>
    <s-menu>
      <s-menu-item>
        <a (click)="onExport()">Export to image</a>
      </s-menu-item>
      <s-menu-item>
        <a (click)="onExportSVG()">Export to SVG</a>
      </s-menu-item>
    </s-menu>
  </s-dropdown>
  <div class="divider"></div>
</header>
<div class="container">
  <div class="columns">
    <s-tabs class="column col-12">
      <s-tab-item>
        <s-tab-item-header>
          Design
        </s-tab-item-header>
        <s-tab-item-body>
          <!-- Header -->
          <app-canvas-header [canvas]="canvas"></app-canvas-header>
          <div class="columns">
            <app-canvas-draw-menu
              class="column col-1"
              [canvas]="canvas"
            ></app-canvas-draw-menu>
            <section>
              <s-divider [vertical]="true"></s-divider>
            </section>
            <section
              class="col-8 column editor-container"
              cdkDropList
              #canvasContainer="cdkDropList"
              [cdkDropListData]="canvasItems"
              (cdkDropListDropped)="onDrop($event)"
            >
              <jdr-fabricjs-editor class="editor" #canvas></jdr-fabricjs-editor>
            </section>
            <section>
              <s-divider [vertical]="true"></s-divider>
            </section>
            <app-canvas-advanced-menu
              class="col-2 column"
              [canvasContainer]="canvasContainer"
              [canvas]="canvas"
            ></app-canvas-advanced-menu>
          </div>
        </s-tab-item-body>
      </s-tab-item>
      <!-- Advanced -->
      <s-tab-item>
        <s-tab-item-header>
          Advanced
        </s-tab-item-header>
        <s-tab-item-body>
          <div class="columns">
            <!-- Background -->
            <section class="column col-12">
              <h4>Background</h4>
              <section class="column col-3">
                <label class="form-label" for="backgroundColor"
                  >Background color</label
                >
                <input
                  class="col-12"
                  name="backgroundColor"
                  type="text"
                  [cpPosition]="'bottom'"
                  [(colorPicker)]="canvas.props.canvasFill"
                  [style.background]="canvas.props.canvasFill"
                  [value]="canvas.props.canvasFill"
                  (colorPickerChange)="onBackgroundFillChange()"
                />
                <label class="form-label" for="backgroundImage"
                  >Background image</label
                >
                <input
                  class="col-12"
                  name="backgroundImage"
                  type="text"
                  placeholder="http://example.jpg"
                  [(ngModel)]="canvas.props.canvasImage"
                  (keyup)="onBackgroundImageChange()"
                />
              </section>
            </section>

            <!-- Debug -->
            <section class="column col-12">
              <h4>Debug</h4>
              <section class="column col-3">
                <button
                  name="renderToJson"
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="onExportJSON()"
                >
                  Render to json
                </button>
                <pre>{{ canvas.json }}</pre>
              </section>
            </section>
          </div>
        </s-tab-item-body>
      </s-tab-item>
    </s-tabs>
  </div>
</div>
