<!-- Font family -->
<section class="column">
  <div>Font family</div>
  <div>
    <s-select
      name="selectValue"
      [enabled]="true"
      [(ngModel)]="selectedObject.fontFamily"
      [items]="fonts"
      (change)="onRequestFontFamilyChange()"
    >
    </s-select>
  </div>
</section>

<!-- Text align -->
<section class="column">
  <div>Text Align</div>
  <div class="columns">
    <div class="column col-12">
      <button
        class="btn btn-link column"
        [sTooltip]="'Align left'"
        [sTooltipDirection]="'bottom'"
        (click)="onRequestTextAlign('left')"
      >
        <div
          [sBadge]
          class="activate-badge"
          *ngIf="selectedObject.textAlign == 'left'"
        ></div>
        <img src="../../../../../assets/icons/text-align-left.png" />
      </button>
      <button
        class="btn btn-link column"
        [sTooltip]="'Align center'"
        [sTooltipDirection]="'bottom'"
        (click)="onRequestTextAlign('center')"
      >
        <div
          [sBadge]
          class="activate-badge"
          *ngIf="selectedObject.textAlign == 'center'"
        ></div>
        <img src="../../../../../assets/icons/text-align-center.png" />
      </button>
      <button
        class="btn btn-link column"
        [sTooltip]="'Align left'"
        [sTooltipDirection]="'bottom'"
        (click)="onRequestTextAlign('right')"
      >
        <div
          [sBadge]
          class="activate-badge"
          *ngIf="selectedObject.textAlign == 'right'"
        ></div>
        <img src="../../../../../assets/icons/text-align-right.png" />
      </button>
      <button
        class="btn btn-link column"
        [sTooltip]="'Justify'"
        [sTooltipDirection]="'bottom'"
        (click)="onRequestTextAlign('justify')"
      >
        <div
          [sBadge]
          class="activate-badge"
          *ngIf="selectedObject.textAlign == 'justify'"
        ></div>
        <img src="../../../../../assets/icons/text-align-justify.png" />
      </button>
    </div>
  </div>
</section>

<!-- Style -->
<section class="column">
  <div>Style</div>
  <div class="columns">
    <div class="column col-12">
      <button
        class="btn btn-link column"
        [sTooltip]="'Bold'"
        [sTooltipDirection]="'bottom'"
        (click)="onRequestBold()"
      >
        <div [sBadge] class="activate-badge" *ngIf="selectedObject.bold"></div>
        <img src="../../../../../assets/icons/bold.png" />
      </button>
      <button
        class="btn btn-link column"
        [sTooltip]="'Italic'"
        [sTooltipDirection]="'bottom'"
        (click)="onRequestItalic()"
      >
        <div
          [sBadge]
          class="activate-badge"
          *ngIf="selectedObject.italic"
        ></div>
        <img src="../../../../../assets/icons/italic.png" />
      </button>
      <button
        class="btn btn-link column"
        [sTooltip]="'Underline'"
        [sTooltipDirection]="'bottom'"
        (click)="onRequestUnderline()"
      >
        <div
          [sBadge]
          class="activate-badge"
          *ngIf="selectedObject.underline"
        ></div>
        <img src="../../../../../assets/icons/underline.png" />
      </button>
      <button
        class="btn btn-link column"
        [sTooltip]="'Line through'"
        [sTooltipDirection]="'bottom'"
        (click)="onRequestLineThrough()"
      >
        <div
          [sBadge]
          class="activate-badge"
          *ngIf="selectedObject.lineThrough"
        ></div>
        <img src="../../../../../assets/icons/line-through.png" />
      </button>
    </div>
  </div>
</section>

<!-- Font size -->
<section class="column">
  <div>Font Size</div>
  <s-slider
    name="slider"
    [(ngModel)]="selectedObject.fontSize"
    (change)="onRequestFontSizeChange()"
    [min]="1"
    [max]="120"
  >
  </s-slider>
</section>

<!-- Line height -->
<section class="column">
  <div>Line Height</div>
  <s-slider
    name="slider"
    [(ngModel)]="selectedObject.lineHeight"
    (change)="onRequestLineHeightChange()"
    [min]="0"
    [max]="10"
  >
  </s-slider>
</section>

<!-- Char spacing -->
<section class="column">
  <div>Char Spacing</div>
  <s-slider
    name="slider"
    [(ngModel)]="selectedObject.charSpacing"
    (change)="onRequestCharSpacingChange()"
    [min]="-200"
    [max]="800"
  >
  </s-slider>
</section>
