@import "../../../../../../../../node_modules/@ngx-spectre/common/assets/variables";

.docs-brand {
  color: #5755d9;
  height: 2rem;
  left: 1.5rem;
  position: fixed;
  top: 0.85rem;
}

s-accordion {
  display: block;
  width: 100%;
}

content .container {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.desktop-menu {
  display: none;
}

@media (min-width: $off-canvas-breakpoint) {
  content .container {
    padding: 0 1rem 1rem 1rem;
  }

  ::ng-deep .off-canvas.off-canvas-sidebar-show .off-canvas-sidebar {
    display: none;
  }

  .desktop-menu {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.5em 1em;
    height: 64px;

    .menu-item {
      line-height: 3em;
      vertical-align: middle;
      text-align: center;
    }

    .logo,
    .logo a,
    .log a:active {
      background-color: $primary-color !important;
      color: $light-color !important;
      transition: background-color ease-in 0.15s, color ease-in 0.15s;
    }

    .logo:hover,
    .logo:hover a {
      color: $primary-color !important;
      background-color: $light-color !important;
    }

    .logo {
      padding: 0.5em;
      text-align: center;

      a:hover {
        text-decoration: none;
      }

      h2 {
        font-size: 1.5em;
        margin: 0;
      }
    }
  }
}

.columns {
  margin: 0;
}
