<div [ngClass]="currentMainRoute">
  <s-sidenav>
    <s-sidenav-menu>
      <div class="docs-brand">
        <a class="docs-logo" routerLink="">
          <h2>True Stories</h2>
        </a>
      </div>
      <s-scrollbar [contentClass]="'docs-nav'">
        <s-menu>
          <s-menu-item>
            <a routerLink="/scenarios" routerLinkActive="active">Scenarios</a>
          </s-menu-item>
          <s-menu-item>
            <a routerLink="/characters" routerLinkActive="active">Characters</a>
          </s-menu-item>
        </s-menu>
      </s-scrollbar>
    </s-sidenav-menu>
    <content>
      <section class="desktop-menu columns">
        <div class="columns">
          <section class="left-panel col-4 col-lg-12 columns">
            <a class="col-4 menu-item logo" routerLink="">
              <h2 class="text-uppercase">True Stories</h2>
            </a>
            <div class="col-4 menu-item">
              <a routerLink="/scenarios" routerLinkActive="active">Scenarios</a>
            </div>
            <div class="col-4 menu-item">
              <s-dropdown>
                <s-dropdown-button [displayArrow]="false"
                  >Ressources</s-dropdown-button
                >
                <s-menu>
                  <s-menu-item>
                    <a routerLink="/characters" routerLinkActive="active"
                      >Characters</a
                    >
                  </s-menu-item>
                  <s-menu-item>
                    <a routerLink="/locations" routerLinkActive="active"
                      >Locations</a
                    >
                  </s-menu-item>
                </s-menu>
              </s-dropdown>
            </div>
          </section>
          <section class="right-panel col-8 col-lg-12 columns">
            <div class="col-11"></div>
            <div class="col-1">
              <app-user-profile></app-user-profile>
            </div>
          </section>
        </div>
      </section>
      <div>
        <ngx-ui-loader></ngx-ui-loader>
        <router-outlet></router-outlet>
      </div>
    </content>
  </s-sidenav>
</div>
