<section class="col-12 tool-menu">
  <div class="columns">
    <div class="column col-12">
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Add line'"
        [sTooltipDirection]="'bottom'"
        (click)="onMoveClick()"
      >
        <div [sBadge] class="activate-badge" *ngIf="!drawing"></div>
        <img src="../../../../../assets/icons/cursor.png" />
      </button>
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Brush'"
        [sTooltipDirection]="'bottom'"
        (click)="onBrushClick()"
      >
        <div [sBadge] class="activate-badge" *ngIf="drawing"></div>
        <img src="../../../../../assets/icons/paint-brush.png" />
      </button>
    </div>
    <section class="colmun col-12">
      <s-divider></s-divider>
    </section>
    <div class="column col-12">
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Add rectangle'"
        [sTooltipDirection]="'bottom'"
        (click)="onFigureClick('rectangle')"
      >
        <img src="../../../../../assets/icons/rectangle.png" />
      </button>
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Add circle'"
        [sTooltipDirection]="'bottom'"
        (click)="onFigureClick('circle')"
      >
        <img src="../../../../../assets/icons/circle.png" />
      </button>
    </div>
    <div class="column col-12">
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Add triangle'"
        [sTooltipDirection]="'bottom'"
        (click)="onFigureClick('triangle')"
      >
        <img src="../../../../../assets/icons/triangle.png" />
      </button>
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Add square'"
        [sTooltipDirection]="'bottom'"
        (click)="onFigureClick('square')"
      >
        <img src="../../../../../assets/icons/square.png" />
      </button>
    </div>
    <div class="column col-12">
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Add line'"
        [sTooltipDirection]="'bottom'"
        (click)="onFigureClick('line')"
      >
        <img src="../../../../../assets/icons/line.png" />
      </button>
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Add text'"
        [sTooltipDirection]="'bottom'"
        (click)="onTextClick()"
      >
        <img src="../../../../../assets/icons/text.png" />
      </button>
    </div>
    <section class="colmun col-12">
      <s-divider></s-divider>
    </section>
    <div class="column col-12">
      <button
        class="btn btn-link column col-6"
        [sTooltip]="'Add marker'"
        [sTooltipDirection]="'bottom'"
        (click)="onMarkerClick()"
      >
        <img src="../../../../../assets/icons/marker.png" />
      </button>
    </div>
  </div>
</section>
