<div class="container">
  <p>
    List works!
  </p>
  <div class="container">
    <section class="columns">
      <s-card
        class="column col-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12"
        *ngFor="let item of items"
      >
        <s-card-image [src]="item.src"></s-card-image>
        <s-card-header [title]="title"> </s-card-header>
        <s-card-body>{{ text }}</s-card-body>
        <s-card-footer>
          <button class="btn btn-link">Edit</button>
          <s-dropdown [right]="true">
            <s-dropdown-button [displayArrow]="false"
              ><i class="icon icon-more-vert"></i
            ></s-dropdown-button>
            <s-menu>
              <s-menu-item>
                <a>Share</a>
              </s-menu-item>
              <s-menu-item>
                <a>Delete</a>
              </s-menu-item>
            </s-menu>
          </s-dropdown>
        </s-card-footer>
      </s-card>
    </section>
  </div>
</div>
