<section class="col-12">
  <section class="column" *ngIf="hasSelectedObject() && !drawing">
    <button class="btn" (click)="onSelectLocationClick($event)">
      <i class="icon icon-link"></i>
      Link to location
    </button>
  </section>

  <!-- Brush -->
  <app-canvas-advanced-brush-menu
    *ngIf="drawing"
    [brush]="brush"
    (onBrushColorChange)="onRequestBrushColorChange($event)"
    (onBrushWidthChange)="onRequestBrushWidthChange($event)"
    (onBrushShadowColorChange)="onRequestBrushShadowColorChange($event)"
    (onBrushShadowWidthChange)="onRequestBrushShadowWidthChange($event)"
  ></app-canvas-advanced-brush-menu>

  <!-- Object selected -->
  <s-accordion [arrow]="true" id="demo-accordion-group-1" *ngIf="!drawing">
    <s-accordion-header>
      Custom
    </s-accordion-header>
    <s-accordion-body>
      <!-- none -->
      <section class="column" *ngIf="!hasSelectedObject()">
        No items selected
      </section>

      <!-- no group -->
      <section class="column" *ngIf="hasSelectedObject()">
        <div>Opacity</div>
        <s-slider
          name="slider"
          [(ngModel)]="selectedObject.opacity"
          (change)="onRequestOpacityChange()"
          [min]="0"
          [max]="100"
        >
        </s-slider>
      </section>

      <!-- Text and Figure Fill -->
      <section
        class="column"
        *ngIf="hasSelectedTextObject() || hasSelectedFigureObject()"
      >
        <div>Fill</div>
        <input
          type="text"
          class="form-input"
          [cpPosition]="'bottom'"
          [(colorPicker)]="selectedObject.fill"
          [style.background]="selectedObject.fill"
          [value]="selectedObject.fill"
          (colorPickerChange)="onRequestFillChange()"
        />
      </section>

      <!-- Image -->
      <app-canvas-advanced-image-menu
        [selectedObject]="selectedObject"
        (onUrlChange)="onRequestUrlChange($event)"
        *ngIf="hasSelectedImageObject()"
      ></app-canvas-advanced-image-menu>

      <!-- Text -->
      <app-canvas-advanced-text-menu
        [selectedObject]="selectedObject"
        (onBoldChange)="onRequestBold($event)"
        (onCharSpacingChange)="onRequestCharSpacingChange($event)"
        (onFontFamilyChange)="onRequestFontFamilyChange($event)"
        (onFontSizeChange)="onRequestFontSizeChange($event)"
        (onItalicChange)="onRequestItalic($event)"
        (onLineHeightChange)="onRequestLineHeightChange($event)"
        (onTextAlignChange)="onRequestTextAlign($event)"
        (onUnderlineChange)="onRequestUnderline($event)"
        (onLineThroughChange)="onRequestLineThrough($event)"
        *ngIf="hasSelectedTextObject()"
      ></app-canvas-advanced-text-menu>
    </s-accordion-body>
  </s-accordion>

  <!-- Images -->
  <s-accordion [arrow]="true" id="demo-accordion-group-2">
    <s-accordion-header>
      Images
    </s-accordion-header>
    <s-accordion-body>
      <label class="btn btn-sm btn-action s-circle add-file-button">
        <input
          type="file"
          style="display: none;"
          (change)="onUploadFile($event)"
        />
        <i class="icon icon-plus"></i>
      </label>
      <section
        class="columns col-12 images-container"
        cdkDropList
        #imagesContainer="cdkDropList"
        [cdkDropListData]="images"
        [cdkDropListConnectedTo]="[canvasContainer]"
      >
        <div class="column col-6" *ngFor="let item of images">
          <img [src]="item.url" class="img-responsive" cdkDrag />
        </div>
      </section>
    </s-accordion-body>
  </s-accordion>
</section>
<app-select-location-modal
  (onClose)="onSelectLocationModalClose($event)"
></app-select-location-modal>
